.attract-mode-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attract-mode-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
